<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shell-wrap">
          <div class="shell-top-bar">/Users/danny/Desktop/sites/about_me/</div>
          <div class="shell-body">
            <p class="first">hello, my name is danny. welcome to my site!</p>
            <p class="second">i am a full stack developer, graphic designer, and musician.</p>
            <p class="third">feel free to have a look around my portfolio.</p>
            <p class="fourth">drop me a message if you're so inclined.</p>
            <p class="fifth">i look forward to meeting you and making cool things together :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>