<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shell-wrap">
          <div class="shell-top-bar">
            <div class="osx-btns">
              <i class="fa fa-circle x-out"></i>
              <i class="fa fa-circle minim"></i>
              <i class="fa fa-circle zoombtn"></i>
            </div>
            dannyvassallo.com
            </div>
          <div class="shell-body hidden-xs">
            <p class="first">hello, my name is danny. welcome to my site!</p>
            <p class="second">i am a full stack developer, graphic designer, and musician.</p>
            <p class="third">feel free to have a look around my portfolio.</p>
            <p class="fourth">drop me a message if you're so inclined.</p>
            <p class="fifth">i look forward to meeting you and making cool things together :)</p>
            <div class="git-embed"></div>
          </div>
          <div class="shell-body">
            <p class="mobile-text">hello, my name is danny. welcome to my site!</p>
            <p class="mobile-text">i am a full stack developer, graphic designer, and musician.</p>
            <p class="mobile-text">feel free to have a look around my portfolio.</p>
            <p class="mobile-text">drop me a message if you're so inclined.</p>
            <p class="mobile-text">i look forward to meeting you and making cool things together :)</p>            
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>