<section id="footer">
  <div class="container">
    <div class="row">
        <div class="text-center col-lg-2 col-sm-4 col-xs-4">
          <a href="https://www.facebook.com/danny.vassalloNJ" target="_blank"><p><i class="fa fa-facebook-square"></i> Facebook</p></a>
        </div>
        <div class="text-center col-lg-2 col-sm-4 col-xs-4">
          <a href="http://dannyvassallo.tumblr.com/" target="_blank"><p><i class="fa fa-tumblr-square"></i> Tumblr</p></a>
        </div>
        <div class="text-center col-lg-2 col-sm-4 col-xs-4">
          <a href="https://twitter.com/dannyftf" target="_blank"><p><i class="fa fa-twitter-square"></i> Twitter</p></a>
        </div>
        <div class="text-center col-lg-2 col-sm-4 col-xs-4">
          <a href="https://instagram.com/dannyvassallo/" target="_blank"><p><i class="fa fa-instagram"></i> Instagram</p></a>
        </div>
        <div class="text-center col-lg-2 col-sm-4 col-xs-4">
          <a href="https://github.com/dannyvassallo" target="_blank"><p><i class="fa fa-github-square"></i> Github</p></a>
        </div>
        <div class="text-center col-lg-2 col-sm-4 col-xs-4">
          <a href="https://www.linkedin.com/pub/dan-vassallo/3b/882/5ab" target="_blank"><p><i class="fa fa-linkedin-square"></i> LinkedIn</p></a>
        </div>
      </div>
    </div>
  </div>
</section>