<section id="portfolio">
  <div id="honeycomb-wrap">
    <div class="honeycombs no-select" unselectable="on" onselectstart="return false;" onmousedown="return false;">
      <% @posts.each do |post| %>
        <% if post.image? %>
          <div class="comb">
            <%= image_tag( post.image.square.url ) %>
            <span><button data-toggle="modal" data-target=<%= "#post-modal-#{post.id}" %>><%= fa_icon "search-plus", class: "fa-3x mag-glass" %></button></span>
          </div>
        <% end %>
      <% end %> 
    </div>
  </div>
</section>