<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/acrobat.png">
        <h2>Adobe Acrobat</h1>
        <p></p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/mailchimp.png">
        <h2>Mailchimp</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/apple.png">
        <h2>OS X</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/middleman.png">
        <h2>Middleman</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/bootstrap.png">
        <h2>Bootstrap</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/office.png">
        <h2>Office Suite</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/css.png  ">
        <h2>CSS 3</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/photoshop.png">
        <h2>Adobe Photoshop</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/facebook.png ">
        <h2>Facebook</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/rails.png">
        <h2>Ruby on Rails</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/github.png ">
        <h2>Github</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/ruby.png">
        <h2>Ruby</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/googleanalytics.png">
        <h2>Google Analytics</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/html.png">
        <h2>HTML 5</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/tumblr.png">
        <h2>Tumblr</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/illustrator.png">
        <h2>Adobe Illustrator</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/twitter.png">
        <h2>Twitter</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/instagram.png">
        <h2>Instagram</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/windows.png">
        <h2>Windows</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/jquery.png">
        <h2>jQuery</h1>
        <p>Description</p>
      </div>  
      <div class="col-lg-2 text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/sass.png">
        <h2>Sass</h1>
        <p>Description</p>
      </div>
      <div class="col-lg-2 text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/wordpress.png">
        <h2>Wordpress</h1>
        <p>Description</p>
      </div>
    </div>
  </div>
</section>