<section id="skills">
  <div class="container">    
    <div class="row">
      <!-- DESIGN -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Design & Front End Skills</h2>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/photoshop.png">
        <h3>Adobe Photoshop</h3>          
        <p>Extensive skills in editing and creating photos using photoshop.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/illustrator.png">
        <h3>Adobe Illustrator</h3>
        <p>Exstensive skills in vector imaging and design.</p>
      </div>             
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/middleman.png">
        <h3>Middleman</h3>
        <p>Massive amounts of experience in the Middleman static site deployment framework.</p>
      </div>  
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/bootstrap.png">
        <h3>Bootstrap</h3>
        <p>Vast knowledge of the grid-based responsive framework.</p>
      </div>    
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/css.png  ">
        <h3>CSS 3</h3>
        <p>Familiar with transitions, shadows, gradients, transitions, and animations.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/html.png">
        <h3>HTML 5</h3>
        <p>Experience with new features and structural elements.</p>
      </div>    
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/jquery.png">
        <h3>jQuery</h3>
        <p>Plenty of milage traversing the DOM.</p>
      </div>  
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/sass.png">
        <h3>Sass</h3>
        <p>Constantly taking advantage of nested selectors, variables, and mixins.</p>
      </div>              
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/javascript.png">
        <h3>Javascript</h3>
        <p>Comfortable moving between frameworks based on the javascript programming language.</p>
      </div>      
      <!-- END FRONT END DESIGN -->

      <!-- MARKETING / OFFICE -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Social Media, Marketing, & Office Skills</h2>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/acrobat.png">
        <h3>Adobe Acrobat</h3>
        <p>Experience in PDF manipulation, printing, and file conversions.</p>
      </div>  
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/mailchimp.png">
        <h3>Mailchimp</h3>
        <p>Experience in custom template designs, email list segmentation, and scheduling blasts.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/office.png">
        <h3>Office Suite</h3>
        <p>Experience in PowerPoint presentations, Excel sheet / Graph setup, and Word processing</p>
      </div>      
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/facebook.png ">
        <h3>Facebook</h3>
        <p>Experience in social media and marketing campaign strategies as well as familiarity with it's API and design facets.</p>
      </div>     
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/tumblr.png">
        <h3>Tumblr</h3>
        <p>Experience in social media and marketing campaign strategies as well as familiarity with it's API and design facets.</p>
      </div>   
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/twitter.png">
        <h3>Twitter</h3>
        <p>Experience in social media and marketing campaign strategies as well as familiarity with it's API and design facets.</p>
      </div>  
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/instagram.png">
        <h3>Instagram</h3>
        <p>Experience in social media and marketing campaign strategies as well as familiarity with it's API and design facets.</p>
      </div>  
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/googleanalytics.png">
        <h3>Google Analytics</h3>
        <p>Experience in custom event tracking and reports.</p>
      </div>                 
      <!-- END MARKETING / OFFICE -->

      <!-- RUBY SKILLS -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Ruby on Rails Skills</h2>
      </div>      
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/ruby.png">
        <h3>Ruby</h3>
        <p>Experience in pure ruby and OOP.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/rails.png">
        <h3>Ruby on Rails</h3>
        <p>Experience with MVC architecture and rails generators.</p>
      </div>   
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/devise.png">
        <h3>Devise</h3>
        <p>Familiar with setting up users and authentication using devise and pundit.</p>
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/rspec.png">
        <h3>Rspec</h3>
        <p>TDD / BDD using Rspec, Capybara, and Factory Girl.</p>
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/api.png">
        <h3>RESTful APIs</h3>
        <p>Experience using and writing RESTful APIs.</p>
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/postgres.png">
        <h3>PostgreSQL</h3>
        <p>Experience using PostgreSQL as a database in production.</p>
      </div>  
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/sql.png">
        <h3>SQL</h3>
        <p>Experience with SQL.</p>
      </div>                               
      <!-- END RUBY SKILLS --> 

      <!-- Other Skills -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Other Skills & Frameworks</h2>
      </div>        
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/github.png ">
        <h3>Github</h3>
        <a href="https://github.com/dannyvassallo/" target="_blank">Follow me here!</a>
      </div>    
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/wordpress.png">
        <h3>Wordpress</h3>
        <p>Custom theme & option development, malware removal, and site migration.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/meteor.png">
        <h3>Meteor JS</h3>
        <p>Experience using Meteor JS to build live interactive apps and cell phone apps.</p>
      </div>                     
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/phonegap.png">
        <h3>PhoneGap</h3>
        <p>Experience using phonegap independent of Meteor JS.</p>
      </div>                         
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/git.png">
        <h3>Git</h3>
        <p>Command line knowledge.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/ember.png">
        <h3>Ember</h3>
        <p>Experience with ember and ember CLI.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/heroku.png">
        <h3>Heroku</h3>
        <p>Experience deploying apps on heroku's scalable hosting platform.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/node.png">
        <h3>Node JS</h3>
        <p>Experience using node JS.</p>
      </div>         
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/s3.png">
        <h3>AWS S3</h3>
        <p>Experience using S3 as a hosting platform.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/mongodb.png">
        <h3>MongoDB</h3>
        <p>Familiar with using nosql mongoDB.</p>
      </div>                                                       
      <!-- DEVELOPMENT ENVIRONMENTS -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Development Environments</h2>
      </div>      
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/apple.png">
        <h3>OS X</h3>
        <p>Primary dev environment choice.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/windows.png">
        <h3>Windows</h3>
        <p>Secondary dev environment choice.</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/ubuntu.png">
        <h3>Ubuntu</h3>
        <p>Experience in the Linux terminal.</p>
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 skill text-center">  
        <img class="full-w" src="https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/vagrant.png">
        <h3>Vagrant</h3>
        <p>Setup scripts and VMs to use Ubuntu shell on any operating system.</p>
      </div>             
      <!-- END DEVELOPMENT ENVIRONMENTS -->
        
    </div>
  </div>
</section>