<h1>All Posts</h1>
<div class="honeycombs">
	<% @posts.each do |post| %>
		<% if post.image? %>
			<div class="comb">
				<%= image_tag( post.image.square.url ) %>
				<span><%= link_to post.title, post %></span>
			</div>
		<% end %>
	<% end %>
</div>
 <% if policy(Post.new).create? %>
   <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
 <% end %>