body, html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
body{
  margin: 0;

}
.full-w{
  width: 100%;
}
//  Grid
#honeycomb-wrap{
	height: 400px;
	width: 100%;
	overflow: hidden;
  background-image: url(https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/abstract-background.jpg);
  background-size: cover;
  background-position: center center;  
}
.no-select{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}
.mag-glass{
  margin-top: 10px;
  color: white;
}
// Header
#header{
  height: 100%;
  text-align: center;
  overflow: hidden;
  h1{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 10px;
    margin-top: -10%;
    text-transform: uppercase;
  }
}
#header_crest, #header_text{
  opacity: 0.6;
}

.black-and-white { -webkit-filter: grayscale(100%); filter: grayscale(100%); }

// Video

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url('https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/headerBG.jpg') no-repeat;
background-size: cover;
}

// Fallback

@media screen and (max-device-width: 800px) {
  body { background: url('https://s3-us-west-2.amazonaws.com/dannyvassallo-portfolio/headerBG.jpg') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

// animation
/* WordFlipper Styles */

/* Flip Animation */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  50% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  80% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  50% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  80% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

// flip text mediaqueries
@media (min-width: 768px) and (max-width: 998px){
  #header_text h1{
    margin-top: -10%;
    font-size: 30px;
  }
}


@media (max-width: 677px){
  #header_text h1{
    margin-top: -9%;
    font-size: 23px;
  }
}

@media (max-width: 513px){
  #header_text h1{
    margin-top: -6%;
    font-size: 14px;
  }
}

// navbar tweaks
.navbar {
  -webkit-transition: all 0.8s ease-out !important;
  -moz-transition: all 0.8s ease-out !important;
  -o-transition: all 0.8s ease-out !important;
  -ms-transition: all 0.8s ease-out !important;
  transition: all 0.8s ease-out !important;
}

.navbar.still {
  background: transparent;
  border: none;    
}

// Skills

#skills{
  background-color: white;
  width: 100%;
  height: auto;
  color: #2f4155;
  h1,h2,h3{
    font-family: 'Pacifico', cursive;
  }
}

// about
#about{
  background-color: #fff;
}

.shell-wrap {
  margin: 100px auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 18px;
  border: 1px solid #CCCCCC;
  border-bottom: none;
 
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
 
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}
 
.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
  min-height: 200px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
.shell-body p:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;  
}
 
.shell-body p {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
  visibility: hidden;
  font-size: 18px;  
}

.osx-btns{
  float: left;
  position: absolute;
  margin-left: 10px;
  .x-out{
    color: #FD4E4E;
    cursor: pointer;
  }
  .minim{
    color: #F3BB55;
    cursor: pointer;
  }
  .zoombtn{
    color: #96D16F;
    cursor: pointer;
  }
}
